/* Write your CSS here */
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paragraph {
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
}
.button {
  background-color: #ffffff;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #ff0b37;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin-bottom: 8px;
}
