/* Write your CSS here */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  min-height: 100vh;
}
.card-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  max-width: 1110px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 16px;
}

.item-container {
  list-style-type: none;
  padding-left: 0px;
}
